<section>
    {{> header}}
    <form class="home__form" action="/addList" method="POST">
        <input id='addlist' class="home__main__input" type="text" value="" aria-label="input" name="listName"
            placeholder="Add new list" required>
        <input id='submit' class="home__main__add" type="submit" value="Add List" aria-label="Add List">
    </form>
    <p class="error-msg"></p>
    <div class="home__results">
        {{#each result}}
        <div class="home__list">
            <h1 class="list__title">{{this.name}}</h1>
            <form class="list__form" action="/addItem" method="POST">
                <input type="number" name="listId" value="{{this.id}}" hidden>
                <input id='addItemContent' class="item__content" type="text" value="" aria-label="input"
                    name="content" placeholder="Add descripition" required>
                <input id='submit' class="item__add" type="submit" value="Add Item" aria-label="Add Item">
            </form>

            {{#each this.item}}
            <div class="list__item">
                <p class="item__pcontent">{{this.content}}</p>
                <p class="item__username">{{this.username}}</p>
                <form action="/markAsDone" method="POST">
                    <input type="text" class="itemId" value="{{this.id}}" hidden>
                    {{#if this.isdone}}
                    <button type="submit" class="fa fa-check item__mark done" aria-label="mark" value=""></button>
                    {{else}}
                    <button type="submit" class="fa fa-check item__mark" aria-label="mark" value=""></button>
                    {{/if}}
                </form>  
            </div>
            {{/each}}

        </div>
        {{/each}}
    </div>
    {{> footer}}
</section>